.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    background-image: url(picture/html-css-js-php-mysql.png);
    background-color: #F9F9AC;
    opacity: .85;
}
.Cblock {
    border-radius: 12px;
    width: 70%;
    height: 70%;
    position: absolute;
    top: 43%;
    left: 34%;
    margin: -125px 0 0 -125px;
    background-color: #FFE373;
    opacity: .9;
}
.Rblock {
    border-radius: 12px;
    border-style: none;
    width: 20%;
    height: 70%;
    position: absolute;
    top: 43%;
    left: 10%;
    margin: -125px 0 0 -125px;
    background-color: #FFE373;
    opacity: .9;
}
.txt {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 2%;
    left: 3%;
    margin: 0 0 0 0;
    font-size: 24px;
    
}
a { 
    text-decoration: none;
   } 
.Tblock {
    width: 60%;
    height: 20%;
    position: absolute;
    top: 18%;
    left: 28%;
    margin: -125px 0 0 -125px;

}
.header {
    text-align: center;
    font-size: 48px;
    text-shadow: white 0 0 30px;
}
